<ion-toolbar>
  <ion-buttons slot="start" >
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <h1>
    Productos
  </h1>
  
  
</ion-toolbar>

<ion-content>
<div *ngFor="let product of products ">
  
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Cargando datos...">
      
      <ion-card [routerLink]="['/products', product.id]">
       <ion-item>
        <h2>
          <img src="../../assets/índice.jpg">
        </h2>
      </ion-item>
        <h3>
          <a [title]="product.name + ' details'"[routerLink]="['/products', product.id]">
             {{ product.name }}
          </a>
        </h3>  
        
        <h4>
          <p *ngIf="product.description">
             {{ product.description }}
          </p>
        </h4>
               
  <ion-button  shape="round" [routerLink]="['./products', product.id]">
    Ver +
  </ion-button>
</ion-card>
  </ion-infinite-scroll-content>
</ion-infinite-scroll>
</div>
</ion-content>
