<ion-header>
	<ion-toolbar>
    <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <h1>Cargar Producto</h1>
	</ion-toolbar>
</ion-header>


<ion-content>
 
  <form>
      <ion-item>
        <ion-label position="floating" >Titulo de Producto</ion-label>
        <ion-input></ion-input>
      </ion-item>         
      <ion-item>   
      <ion-label position="floating" >Descripción de Producto</ion-label>
      <ion-input></ion-input>
      </ion-item>
      <ion-item>   
        <ion-label position="floating" >Precio </ion-label>
        <ion-input placeholder="$$"></ion-input>
        </ion-item>
      <ion-grid>
        <ion-row>
         <ion-col size="6" 
         *ngFor="let photo of photoService.photos; index as position">
          <ion-img [src]="photo.webviewPath"       
           (click)="showActionSheet(photo, position)"></ion-img>
         </ion-col>
        </ion-row>
       </ion-grid>
        <ion-fab-button (click)="addPhotoToGallery()">
          <ion-icon name="camera"></ion-icon>
        </ion-fab-button> 
          
        <ion-button shape="round"  >
           Cargar
        </ion-button>
          </form>
      </ion-content>