<ion-header>
	<ion-toolbar>
    <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <h1>Cargar Producto</h1>
	</ion-toolbar>
</ion-header>


<ion-content>
        <ion-card>
      <ion-item>
        <ion-label position="floating" >Titulo de Producto</ion-label>
        <ion-input></ion-input>
      </ion-item>            
      <ion-label position="floating" >Descripcion del Producto</ion-label>
      <ion-input></ion-input>
        <ion-input type="file" class="d-none" (change)="onPhotoSelected($event)">
          <img src="/../assets/índice.jpg" 
         class="img-fluid" 
         alt="No Image">
        </ion-input>
        <ion-button class= "btn btn-primary  btn-block">
           Cargar
        </ion-button>
            </ion-card>
      </ion-content>